.cbtn{
    background-color: #242B2E;
    color: white;
}
.cbtn:hover{
    background-color: #03203C;
    color: white;
}
.link-footer{
    color: white;
    text-decoration: none;
}
.link-footer:hover{
    color: grey;
    text-decoration: none;
}
.form-select:focus{
    border: #03203C solid 1px;
    box-shadow: none;
}
.form-control:focus{
    border: #03203C solid 1px;
    box-shadow: none;
}
.form-control:focus{
    border: #03203C solid 1px;
    box-shadow: none;
}
