.cbtn{
    background-color: #242B2E !important;
    color: white;
    margin: 10px;
}
.cbtn:hover{
    background-color: #03203C !important;
    color: white;
}
.ccard{
    background-color: #03203C !important;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}
.ccard:hover{
    color: grey;
}
.link-footer{
    color: white;
    text-decoration: none;
}
.link-footer:hover{
    color: grey;
    text-decoration: none;
}
.form-select:focus{
    border: #03203C solid 1px;
    box-shadow: none;
}
.form-control:focus{
    border: #03203C solid 1px;
    box-shadow: none;
}
.form-control:focus{
    border: #03203C solid 1px;
    box-shadow: none;
}
