
.foot{
    padding: 10px;
    color:white;
    background-color: #242B2E;
}
.vCenter{
    margin-top: auto;
    margin-bottom: auto;
}
.crow{
    padding: 10px;
    border-radius: 20px;
    /*background-color: #242B2E ;*/
    /*opacity: 0.5;*/
}
.white-btn{
    background-color: white !important;
    color: #03203C !important;
}
.white-btn:hover{
    background-color: #03203C !important;
    color: white !important;
}
.user{
    font-size: 20px;
}
.bg-home{
    background-repeat: no-repeat;
    background-size: auto;
    color: white;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2440' height='860' preserveAspectRatio='none' viewBox='0 0 2440 860'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1052%26quot%3b)' fill='none'%3e%3crect width='2440' height='860' x='0' y='0' fill='rgba(9%2c 9%2c 10%2c 0.62)'%3e%3c/rect%3e%3cpath d='M0%2c944.089C178.764%2c909.622%2c202.503%2c649.33%2c342.517%2c532.967C457.122%2c437.721%2c639.158%2c450.464%2c733.122%2c334.806C836.807%2c207.183%2c901.993%2c36.436%2c878.083%2c-126.249C854.192%2c-288.803%2c713.908%2c-401.205%2c606.656%2c-525.67C499.096%2c-650.492%2c402.955%2c-790.924%2c250.813%2c-854.191C89.969%2c-921.076%2c-100.046%2c-954.678%2c-260.194%2c-886.141C-416.427%2c-819.279%2c-492.272%2c-647.272%2c-576.957%2c-499.936C-648.106%2c-376.151%2c-700.706%2c-244.616%2c-710.786%2c-102.196C-720.367%2c33.174%2c-677.087%2c160.71%2c-632.793%2c288.987C-583.981%2c430.349%2c-543.308%2c576.164%2c-439.406%2c683.729C-318.679%2c808.712%2c-170.626%2c976.987%2c0%2c944.089' fill='rgba(9%2c 9%2c 10%2c 0.62)'%3e%3c/path%3e%3cpath d='M2440 1626.405C2578.362 1595.842 2653.958 1453.964 2765.822 1366.99 2865.248 1289.687 2982.874 1242.386 3060.985 1143.594 3155.5280000000002 1024.019 3274.214 893.879 3259.881 742.119 3245.523 590.097 3093.634 495.522 2989.251 384.071 2889.051 277.086 2801.862 147.79600000000005 2662.041 103.79700000000003 2521.223 59.48400000000004 2369.534 96.65899999999999 2230.111 145.183 2095.701 191.962 1957.8600000000001 255.84500000000003 1881.002 375.625 1807.524 490.137 1853.69 638.4 1827.908 771.994 1800.348 914.8 1691.326 1045.159 1724.46 1186.776 1759.171 1335.134 1876.548 1454.9859999999999 2006.367 1534.7469999999998 2134.8469999999998 1613.685 2292.757 1658.9299999999998 2440 1626.405' fill='rgba(10%2c 10%2c 11%2c 0.62)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1052'%3e%3crect width='2440' height='860' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
.form-floating{
    color: #242B2E;
}

