
.foot{
    padding: 10px;
    color:white;
    background-color: #242B2E;
}
.vCenter{
    margin-top: auto;
    margin-bottom: auto;
}
.crow{
    padding: 10px;
    border-radius: 20px;
    /*background-color: #242B2E ;*/
    /*opacity: 0.5;*/
}
.white-btn{
    background-color: white !important;
    color: #03203C !important;
}
.user{
    font-size: 20px;
}
